body, html { 
	padding: 0; 
	margin: 0; 
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}  

@media all and (min-width: 960px) { 

	/*#mobile { 
		display: none;
	}*/  

	nav { 
		width: 100%; 
		background-color: #eee; 
		height: 70px; 
		border-top: 5px solid #66ff66; 
		
	}  

	#nav-text { 
		vertical-align: middle; 
		padding: 20px; 
		font-size: 20px;
	} 

	#nav-text a {
		padding: 20px; 
		text-decoration: none; 
		color: #000;
	} 

	#nav-text a:hover { 
		color: #fff;
	} 

	#search-control:hover{ 
		color: #fff; 
		cursor: pointer;
	} 

	#search-bar { 
		cursor: text; 
		display: none; 


	}

	#account { 
		float: right;  
	}  

	#account:hover { 
		cursor: pointer; 
		color: #ffffff;
	}

	#login { 
		width: 250px; 
		background-color: #eee; 
		margin: 0 auto; 
		float: right;  
		padding-bottom: 15px; 
		display: none 
	}  

	#login-content { 
		width: 200px; 
		margin: 0 auto; 
		padding: 5px; 
	} 

	#login input { 
		margin-top: 10px; 
		border-radius: 5px; 
		height: 30px; 
		width: 200px; 
		margin-left: 0; 
		border: none; 
		font-size: 15px; 
		padding: 5px;
	} 

	#login-button { 
		background-color: #00b300; 
		color: #fff; 
	} 

	#login-button:hover{ 
		cursor: pointer; 
		background-color: #66ff66;
	} 

	#log-bttm { 
		margin-top: 10px; 
	} 

	#sign-up{ 
		background-color: #00b300; 
		color: #fff; 
		text-decoration: none; 
		border-radius: 5px; 
		padding:  6.5px 70.6px;
	} 

	#sign-up:hover{ 
		background-color: #66ff66;
	}
} 
























